{% extends("base.html") %}

{% block head %}
{{ super() }}

<style type="text/css">

div#comment_selector {
	position: absolute;
	background: white;
	border: 1px solid black;
	display: none;
	padding: 3px;
	box-sizing: border-box;
}

div#comment_selector ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

div#comment_selector ul > li {
	margin-left: 0px;
	padding: 2px;
	cursor: pointer;
}

div#comment_selector ul > li.selected {
	background: #C2DEFF;
	color: #00408A;
}

</style>

<script src="/marking/default-comments"></script>
<script src="/js/jquery-ui.min.js"></script>
<script>

var answer_id = '{{ answer.key().id() }}';

// -1 for UP; 1 for DOWN
function move_selected(direction) {
	var li = $('div#comment_selector li.selected');
	var idx = -1;
	var nextIdx = -1;
	var maxIdx = $('div#comment_selector li').length - 1;
	
	if (li.length > 0) {
		idx = li.prevAll('li').length;
		
		if (direction < 0) {
			nextIdx = (idx > 0) ? idx - 1: maxIdx;
		}
		else {
			nextIdx = (idx < maxIdx) ? idx + 1 : 0;
		}
		
		$('div#comment_selector li.selected').removeClass('selected');
	}
	else {
		if (direction < 0) {
			// next idx should be at the end of the list
			nextIdx = maxIdx;
		}
		else {
			// start of the list
			nextIdx = 0;
		}
	}
	
	$('div#comment_selector li:nth-child(' + (nextIdx + 1) + ')').addClass('selected');
};

function choose_selected(input) {
	var li = $('div#comment_selector li.selected');
	if (li.length > 0) {
		var text = li.contents().filter(function() { return this.nodeType == 3; }).text();
		$(input).val(text);
		
		$('div#comment_selector').css('display', 'none');
	}
};

$(function() {
	$('form[name=marking_form] input[type=text]').focus(function(e) {
		var div = $('div#comment_selector');
		div.empty();
		
		var input = $(this);
		
		var ul = $(document.createElement('ul'));
		
		for (var i=0; i < comments.length; i++) {
			var comment = comments[i];
			
			li = $('<li>' +  comment + '</li>');
			li.hover(function() { $(this).addClass('selected'); }, function() { $(this).removeClass('selected'); });
			
			// Stupid JavaScript scope...
			(function(c) {
				li.click(function() { 
					input.val(c);
					// No need to hide DIV - will get picked up by document click handler
				});
			})(comment);
			
			ul.append(li);
		}
		
		div.append(ul);

		var offset = $(this).offset();
		var offsetTop = offset.top + $(this).outerHeight();
		var offsetLeft = offset.left + (($(this).outerWidth() - $(this).width()) / 2);
		
		div.css('width', $(this).width());
		div.css('left', offsetLeft + 'px');
		div.css('top', offsetTop + 'px');
		
		div.show('slide', { direction: 'up' }, 300);
	});
	
	$('form[name=marking_form] input[type=text]').keydown(function(e) {
		switch (e.which) {
			case 38: // up
				move_selected(-1);
				e.preventDefault();
				break;
			case 40: // down
				move_selected(1);
				e.preventDefault();
				break;
			case 13: // enter
				choose_selected(e.target);
				e.preventDefault(); // this will prevent the form submitting - shouldn't be a problem; user will have to use submit button
		}
	});
	
	$('form[name=marking_form] input[type=text]').click(function(e) {
		e.stopPropagation();
	});
	
	$(document).click(function() {
		$('#comment_selector').hide('slide', { direction: 'up' }, 300);
	});
});

function go_next(question) {
	$('#next_question').val(question);
	
	var form = $('form[name=marking_form]');
	$(form).prop('action', '/marking/save/' + answer_id);
	form.submit();
};

</script>

{% endblock %}

{% block title %}Mark Exercise{% endblock %}
{% block content %}

<p>[ <a href="/marking/">Back Home</a> ]</p>

<h2>Marking: {{ answer.chapter.name }}</h2>

<p>Submitted by <strong>{{ answer.student.email() }}</strong> on <strong>{{ answer.submit_date|datetimeformat }}</strong></p>

<form name="marking_form" method="post" action="/marking/mark/{{ answer.key().id() }}">
{% if nextAnswerID is not none %}
<input type="hidden" name="next" value="{{ nextAnswerID }}" />
<input type="hidden" name="next_question" id="next_question" value="" />
{% endif %}

<table>
	<thead>
		<tr>
			<th>Question</th>
			<th width="30%">Student's Answer</th>
			<th width="60%">Marker's Comments</th>
		</tr>
	</thead>
	<tbody>
		{% for aq in answers %}
		<tr class="{{ loop.cycle('odd', 'even') }}">
			<td align="center">{{ aq.question.name }}</td>
			<td>
				<p><em>{{ aq.question.modelAnswer }}</em></p>
				<p>{{ aq.answer }}</p>
			</td>
			<td>
				<a name="question-{{ aq.question.name }}"></a>
				<input type="text" name="marker_comment_{{ aq.key().id() }}" class="fullwidth" value="{{ aq.comment }}" />
				<ol type="a">
				{% for comment in aq.comments %}
					<li>
						<input type="checkbox" {% if comment.key().id() in selected %}checked="checked"{% endif %} id="comment_{{ comment.key().id() }}" name="comment_{{ aq.key().id() }}" value="{{comment.key().id() }}" />
						<label class="q_comment" for="comment_{{ comment.key().id() }}">{{ comment.text }}</label>
					</li>
				{% endfor %}
				</ol>
				
				{% if nextAnswerID is not none %}
				<input type="button" value="Next &gt;" onclick="go_next('{{ aq.question.name }}');" />
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<p>General Comments:<br/><textarea name="general_comments" class="fullwidth" rows="3">{{ markedAnswer.comment }}</textarea></p>

<p style="text-align:center;"><input type="submit" value="Complete" /></p>

</form>

<div id="comment_selector"></div>

{% endblock %}