{% extends("base.html") %}
	
{% block title %}Online Exercises Admin{% endblock %}
{% block content %}
	
	<h2>Duff Chapter Exercises</h2>
	
	<p>[ <a href="/">Back Home</a>] </p>
	
	<ul>
	{% for chapter in chapters %}
			<li><a href="/admin/edit-chapter?id={{ chapter.key().id() }}">{{ chapter.name }}</a>
			[<a title="Delete '{{ chapter.name }}'" class="warn" href="/admin/delete-chapter?id={{ chapter.key().id() }}">X</a>]</li>
	{% endfor %}
	</ul>
	
	<p>Create new chapter:</p>
	
	<form method="post" action="/admin/create-chapter">
	
	<input type="text" name="name" />
	<input type="submit" value="Create" />
	
	</form>
	
{% endblock %}