<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel="stylesheet" href="/css/main.css" />
    <title>Oak Hill Distance Learning: {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
	<div id="container">
	<div id="header">
		<h1>{{ self.title() }}</h1>
	</div>
	{% if error %}<div id="error">{{ error }}</div>{% endif %}
	{% if msg %}<div id="msg">{{ msg }}</div>{% endif %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2013 <a href="http://www.oakhill.ac.uk/">Oak Hill College</a>. All rights reserved.
        {% endblock %}
    </div>
	</div>
</body>
